*, *:before, *:after {
  box-sizing: border-box;
}

section {
  background-color: white;
  background-color: #F8F8F8;
}

body {
  margin: 0 auto;
  font-size: 10px;
  font-family: "Roboto", "Arial", "San-serif";
  max-width: 375px;
  min-width: 360px;
  background-color: #F8F8F8;
}

.location-entry {
  border: none;
  width: 85%;
  font-size: 1.1em;
  color: #585858;
}

.status-bar {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  text-align: center;
  font-size: 1em;
}

.wifi {
  width: 4%;
  height: auto;
  float: left;
  margin-left: 2.5%;
  margin-top: -1%;
}

.battery-icon {
  width: 5%;
  height: auto;
  float: right;
  margin-right: 2%;
  margin-top: -1.2%;
}

.search-box-background {
  margin: 0 auto;
}

.search-box-background .back-icon {
  float: left;
}

.starting-location {
  border-radius: 10px;
  padding: 3%;
  margin: 0 auto;
  margin-bottom: 4%;
  margin-top: 3%;
  border: 1px solid lightgray;
  width: 70%;
  font-size: 1.4em;
  color: #585858;
  background-color: white;
}

.destination-location {
  border-radius: 10px;
  padding: 3%;
  margin: 0 auto;
  border: 1px solid lightgray;
  width: 70%;
  font-size: 1.4em;
  color: #585858;
  background-color: white;
}


.voice-icon1 {
  width: 8%;
  height: auto;
  float: right;
  vertical-align: middle;
}

.voice-icon2 {
  width: 8%;
  height: auto;
  float: right;
  vertical-align: middle;
}

.back-icon {
  width: 9%;
  height: auto;
  margin-left: 2%;
  float: left;
}

.three-dots {
  width: 5.5%;
  height: auto;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  float: right;
}

.swap-location {
  width: 5.5%;
  height: auto;
  margin-top: 19%;
  margin-right: -6%;
  float: right;
}


.saved-recent {
  padding: 4%;
  font-size: 1.5em;
  color: #585858;
  text-align: center;
  word-spacing: 2.5em;
}

.item-body-1 {
  border: 1px solid darkgrey;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 90%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: white;
  border-radius: 8px;
  box-shadow: .5px .5px 4px #8888;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  padding-top: 4%;
  padding-right: .5%;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #0F9D58;
  display: inline-block;
  font-size: 2em;
  color: white;
  text-align: center;
  align-items: center;
  box-shadow: .5px .5px 4px #888888;
  margin-left: 2%;
  margin-right: 2%;
}

.circle-1 {
  padding-top: 4%;
  padding-right: .5%;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: orange;
  display: inline-block;
  font-size: 2em;
  color: white;
  text-align: center;
  align-items: center;
  box-shadow: .5px .5px 4px #888888;
  margin-left: -5%;
  margin-right: 1%;
}

.circle-2 {
  padding-top: 4%;
  padding-right: .5%;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #DB4437;
  ;
  display: inline-block;
  font-size: 2em;
  color: white;
  text-align: center;
  align-items: center;
  box-shadow: .5px .5px 4px #888888;
  margin-left: 2%;
}

.item-container {
  padding-left: 3%;
  width: 50%;
}

.item-container-1 {
  padding-left: 3%;
  width: 50%;
  margin-left: -12%;
}

.item-container-2 {
  width: 50%;
  padding-left: 4%;
}

.item-destination {
  font-size: 1.6em;
  font-weight: bolder;
  margin-bottom: 5%;
}

.item-arrival {
  font-size: 1.2em;
  color: black;
  font-weight: bolder;
  border: .5px solid #F8F8F8;
  width: 83%;
  text-align: justify;
  border-radius: 8px;
  background-color: #F8F8F8;
  box-shadow: .25px .25px 2px #888888;
  padding: 2%;
  text-align: center;
  color: #4285F4;
}

.item-arrival-1 {
  font-size: 1.2em;
  color: black;
  font-weight: bolder;
  border: .5px solid #F8F8F8;
  width: 25%;
  text-align: justify;
  border-radius: 8px;
  background-color: #F8F8F8;
  box-shadow: .25px .25px 2px #888888;
  text-align: center;
  padding: 1%;
  color: #4285F4;
}

.item-body>h3 {
  font-size: 1.2em;
  color: #585858;
  font-weight: bolder;
  margin: 2%;
}

.item-body-1>h3 {
  font-size: 1.2em;
  color: #585858;
  font-weight: bolder;
  margin: 2%;
  font-style: italic;
}

.eastbound-title {
  font-size: 2em;
  background-color: #E8E8E8;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
}

.northbound-title {
  font-size: 1.9em;
  background-color: #E8E8E8;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  border-radius: 2px;
}

.southbound-title {
  font-size: 1.9em;
  background-color: #E8E8E8;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  border-radius: 2px;
}

.reroute-title {
  font-size: 1.9em;
  background-color: #E8E8E8;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  border-radius: 2px;
}

.outofservice-title {
  font-size: 1.9em;
  background-color: #E8E8E8;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  border-radius: 2px;
}

/* @media only screen and (min-width: 510px) {
  .voice-icon1, .voice-icon2 {
    margin-top: -2.5%;
  }

  .swap-location {
    margin-top: 15%;
  }
} */
